<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../assets/css/cad_usuario.css" media="">
    <title>Bem Vindo a SGR</title>
</head>
<body>
    
    <!-- Menu -->

    <nav class="menu">
        <ul>
            <li class="novo" onclick="location.href='form_usuario.html'">Novo Usuário
            </li> 
            <li class="voltar" onclick="location.href='pginicial'">Voltar
            </li>   
            <li class="sair" onclick="location.href='index.html'">Sair             
            </li>   
        </ul>

    </nav>

    <!-- Tabela -->
        <table class="tab" border="1">
            <caption>Tabela de Usuários</caption>
            <thead>
                <tr class="title">
                    <th>Id</th>
                    <th>Nome</th>
                    <th>Cargo</th>
                    <th>Status</th>
                    <th>Editar</th>
                </tr>
            </thead>

            <tbody>
            <tr>
                <td>101</td>
                <td>Teste</td>
                <td>Gerente</td>
                <td>ATIVO</td>
                <td><button class="button" >Editar</button></td>

            </tr>
            <tr>
                <td>222</td>
                <td>João</td>
                <td>Técnico em Informática</td>
                <td>ATIVO</td>
                <td><button class="button" >Editar</button></td>
            </tr>
            <tr>
                <td>500</td>
                <td>Marcelo</td>
                <td>Auxiliar Administrativo</td>
                <td>INATIVO</td>
                <td><button class="button" >Editar</button></td>
            </tr>
            </tbody>
        </table>
</body>
</html>