<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../assets/css/form_cliente.css" media="">
    <title>Bem Vindo a SGR</title>
</head>
<body>
    
<!-- Formulário  Clientes   -->
<form>
    
    <fieldset class="group">

        <div class="title">
            <H1>Cadastro de Clientes</H1>
            <br>
        </div>

        <div class="field">
            <label><strong>CPF / CNPJ</strong></label>
            <input type="number" name="clientdoc" id="clientdoc" required>
            <br>
            <label><strong>Nome do Cliente / Razão Social</strong></label>
            <input type="text" name="clientname" id="clientname" required>
            <br>
            <label><strong>Endereço</strong></label>
            <input type="text" name="clientaddress" id="clientaddress" required>
            <br>
            <label><strong>Telefone</strong></label>
            <input type="tel" name="clientphone" id="clientphone" required>
            <br>
            <label><strong>E-mail</strong></label>
            <input type="email" name="clientemail" id="clientemail" required>
            <br>
        </div>
        <div class="radio">
            <label><strong>Status</strong></label>
            <input type="radio" name="status" checked> Ativo
            <input type="radio" name="status" > Inativo

        </div>
        <br>
        <div class="button">
            <button type="submit" >Salvar</button>
            <button type="button" onclick="location.href='../../PI-cobranca/views/cad_cliente.html'">Cancelar</button>
            <button type="button" onclick="location.href='../../PI-cobranca/views/index.html'">Sair</button>                      
        </div>
    </fieldset>

   </form>
</body>
</html>