<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../assets/css/form_banco.css" media="">
    <title>Bem Vindo a SGR</title>
</head>
<body>
    
<!-- Formulário  Bancos   -->
<form>
    
    <fieldset class="group">

        <div class="title">
            <H1>Cadastro de Bancos</H1>
            <br>
        </div>

        <div class="code">
            <label><strong>Código</strong></label>
            <input type="number" name="bankcode" id="bankcode" required>
            <br>
        </div>
        <div class="field">
            <label><strong>Nome do Banco</strong></label>
            <input type="text" name="bankname" id="bankname" required>
            <br>
        </div>
        <div class="radio">
            <label><strong>Status</strong></label>
            <input type="radio" name="status" checked> Ativo
            <input type="radio" name="status" > Inativo

        </div>
        <br>
        <div class="button">
            <button type="submit" >Salvar</button>
            <button type="button" onclick="location.href='../../PI-cobranca/views/cad_banco.html'">Cancelar</button>
            <button type="button" onclick="location.href='../../PI-cobranca/views/index.html'">Sair</button>                      
        </div>
    </fieldset>

   </form>
</body>
</html>