<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../assets/css/form_transacao.css" media="">
    <title>Bem Vindo a SGR</title>
</head>
<body>
    
<!-- Formulário  Transação   -->
<form>
    
    <fieldset class="group">

        <div class="title">
            <H1>Cadastro de Transações</H1>
            <br>
        </div>

        <div class="field">
            <label><strong>Nota Fiscal</strong></label>
            <input type="number" name="numberdoc" id="numberdoc" required>
            <br>
            <label><strong>Data de Emissão</strong></label>
            <input type="date" name="issuedate" id="issuedate" required>
            <br>
            <label><strong>Nome do Cliente / Razão Social</strong></label>
            <input type="text" name="clientname" id="clientname" required>
            <br>
            <label><strong>Data de Vencimento</strong></label>
            <input type="date" name="duedate" id="duedate" required>
            <br>
            <label><strong>Valor</strong></label>
            <input type="number" name="value" id="value" required>
            <br>
            <label><strong>Banco</strong></label>
            <input type="text" name="bank" id="bank" required>
            <br>
            <label><strong>Arquivo</strong></label>
            <input type="number" name="file" id="file" >
            <br>            
        </div>
        <div class="button">
            <button type="submit" >Salvar</button>
            <button type="button" onclick="location.href='../../PI-cobranca/views/cad_cliente.html'">Cancelar</button>
            <button type="button" onclick="location.href='../../PI-cobranca/views/index.html'">Sair</button>                      
        </div>
    </fieldset>

   </form>
</body>
</html>