<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../assets/css/login.css" media="">
    <title>Bem Vindo a SGR</title>
</head>
<body>
    
<p>Vinicius</p>
<form id="login">
    <fieldset class="group">
        <div class="field"> 
            <br>
            <H1 id="title">Seja Bem-Vindo</H1>
            <sub><strong>Faça seu Login</strong></sub>
            <br>
        </div>

        <div class="field">
            <label for="username"><strong>Usuário</strong></label>
            <input type="text" name="username" id="username" required>
        </div>
        <br>
        <div class="field">
            <label for="password"><strong>Senha</strong></label>
            <input type="password" name="password" id="password" required>
            <br>
            <br>
            <a class= "link" href="../rec_senha/rec_senha_email.html"><strong>Esqueceu sua senha?</strong></a>
                
        </div>

        <div class="field">
            <br>
            <button class="button" type="submit">Entrar</button>
            <button class="button" type="button">Sair</button>       
        </div>
    </fieldset>
   </form>
   <script src="../assets/js/main.js"></script>
</body>
</html>