<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../assets/css/pag_inicial.css" media="">
    <title>Bem Vindo a SGR</title>
</head>
<body>
    <!-- Menu -->
    <nav class="menu">
        <ul>
            <li class="exe">Executar
                <ul>
                    <li>Gerar Arquivo</li>
                    <li>Exportar Arquivo</li>
                    <li>Importar Arquivo</li>
                    <li>Consulta Arquivo</li>
                </ul>
            </li>
            <li class="con">Consulta
                <ul>
                    <li>Relatórios de Títulos
                        <ul>
                            <li class="ta">Títulos em Aberto
                                <ul>
                                    <li>Pesquisa Por Cliente</li>
                                    <li>Pesquisa Por Período</li>
                                    <li>Pesquisa Por XXX</li>
                                </ul>
                            </li>
                            <li class="tl">Títulos Liquidados
                               <ul>
                                    <li>Pesquisa Por Cliente</li>
                                    <li>Pesquisa Por Período</li>
                                    <li>Pesquisa Por XXX</li>
                               </ul>     
                            </li>
                            <li class="tv">Títulos Vencidos
                                <ul>
                                    <li>Pesquisa Por Cliente</li>
                                    <li>Pesquisa Por Período</li>
                                    <li>Pesquisa Por XXX</li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                        
                </ul>
            </li>
            <li class="conf">Conferência de Títulos
                <ul>
                    <li class="ta">Títulos em Aberto</li>
                    <li class="tl">Títulos Liquidados</li>
                    <li class="tv">Títulos Vencidos</li>
                </ul>
            </li> 
            <li class="cad">Cadastro
                <ul>
                    <li onclick="location.href='pgCadUser'">Usuários</li>
                    <li onclick="location.href='pgCadCliente'">Clientes</li>
                    <li onclick="location.href='pgBanco'">Bancos</li>
                </ul>
            </li>   
            <li class="sair" onclick="location.href='../../PI-cobranca/views/index.html'">Sair             
            </li>   
        </ul>

    </nav>

    <!--Dashboard -->
    <div> 
        <iframe width="1600" height="1060" src="https://app.powerbi.com/reportEmbed?reportId=813ff280-0121-484d-ac2f-92dafb4e9bed&autoAuth=true&ctid=cf72e2bd-7a2b-4783-bdeb-39d57b07f76f&config=eyJjbHVzdGVyVXJsIjoiaHR0cHM6Ly93YWJpLXNvdXRoLWNlbnRyYWwtdXMtcmVkaXJlY3QuYW5hbHlzaXMud2luZG93cy5uZXQvIn0%3D" frameborder="0" allowFullScreen="true"></iframe>
        
    </div>
</body>
</html>