
.frm-transacao .title{
    font-family: sans-serif;
    margin-top: 5%;
    text-align: center;

}

.frm-transacao fieldset{
    width: 60vw;
    height: 90vh;
    border: none;
}
 
// body{
//     background-image: url("../views/img/form_transacao.jpg");
//     background-size: 100vw 100vh;
//     background-repeat: no-repeat;
//     color: white;
// }

.frm-transacao input , textarea , button , select{
    border-radius: 10px;
}
.frm-transacao .field label, .radio label{
    margin-left: 17%;
    display: block;
}
.frm-transacao .field input{
    display: block;
    margin-left: 17%;
    height: 30px;
    width: 500px;
    font-size: 25px;
}
.frm-transacao .field input:focus, .field textarea:focus , .field select:focus{
    background-color: white;
}

/* Botões */
.frm-transacao button {
    font-size: 1em;
    background: #17252A;
    color: white;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
    text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
    height: 40px;
    width: 100px;
}

.frm-transacao button:hover {
    background-color: darkgray;
}

.frm-transacao .button {
    display: flex;
    justify-content: space-evenly;
}