$back : rgb(108, 229, 215);

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

img {
    width: 100%;
}

.wrapper {
    display: grid;
    grid-template-columns: 15% auto 15%;
    grid-template-areas: ". header ." "logo menu ." ". main ." "footer footer footer";
}

header {
    grid-area: header;
    min-height: 12vh;
    background-color: #2c7977;
}

.side-header {
    background-color: #2c7977;
}

.logo {
    grid-area: logo;
    min-height: 7vh;
}

menu {
    grid-area: menu;
    min-height: 7vh;
}

main {
    grid-area: main;
    min-height: 70vh;
}

footer {
    grid-area: footer;
    min-height: 9vh;
}

/*Configurações Padrões*/

ul.menu, .menu li, .menu a {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

ul.menu ul {
    position: absolute;
    display: none;
    box-shadow: 3px 3px 2px #333;
}

/* Configurações nivel 1*/

ul.menu {
    float: left;
    font-size: 15px;
    border-radius: 5px;
    padding: 0 5px;
    margin: 10px auto;
}

.menu li {
    float: left;
    width: auto;
    position: relative;
}

.menu li a {
    display: block;
    padding: 0 20px;
    line-height: 45px;
    height: 45px;
    float: left;
    transition: all 0.1s linear;
}

/* Configurações nivel 2*/

.menu li:hover>ul.submenu-1 {
    display: block;
    top: 45px;
    left: 0;
    padding: 5px;
    width: 200px;
    border-radius: 0 0 5px 5px;
}

.menu ul.submenu-1 a {
    width: 160px;
    padding: 0 20px;
    border-radius: 5px;
}

/* Configurações nivel 2*/

.menu li:hover>ul.submenu-2 {
    display: block;
    top: 0;
    left: 195px;
    padding: 5px;
    width: 200px;
    border-radius: 0 5px 5px 5px;
}

.menu ul.submenu-2 a {
    width: 160px;
    padding: 0 20px;
    border-radius: 5px;
}

/* Configurações nivel 3*/

.menu li:hover>ul.submenu-3 {
    display: block;
    top: 0;
    left: 195px;
    padding: 5px;
    width: 200px;
    border-radius: 0 5px 5px 5px;
}

.menu ul.submenu-3 a {
    width: 160px;
    padding: 0 20px;
    border-radius: 5px;
}

/*Configurações de cores*/

/*nivel 1*/

.menu {
    background: #fff;
}

.menu a {
    color: #000;
}

.menu li:hover>a {
    background: #999;
    color: #fff;
}

/*nivel 2*/

.submenu-1 {
    background: #999;
}

.submenu-1 a {
    color: #fff;
}

.submenu-1 li:hover>a {
    background: #666;
}

/*nivel 3*/

.submenu-2 {
    background: #666;
}

.submenu-2 a {
    color: #fff;
}

.submenu-2 li:hover>a {
    background: #333;
}

/*nivel 3*/

.submenu-3 {
    background: #333;
}

.submenu-3 a {
    color: #fff;
}

.submenu-3 li:hover>a {
    background: #000;
}

html {
    background-color: $back;
}

a {
    color: #92badd;
    display: inline-block;
    text-decoration: none;
    font-weight: 400;
}

h1 {
    text-align: center;
    font-size: 35px;
    font-weight: 700;
    text-transform: uppercase;
    margin: 20px 8px 10px 8px;
    color: #0d0d0d;
}

h2 {
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    display: inline-block;
    margin: 0 8px 10px 8px;
    color: #cccccc;
}

/* STRUCTURE */

.form-wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    min-height: 100%;
    padding: 20px;
}

#formContent {
    -webkit-border-radius: 10px 10px 10px 10px;
    border-radius: 10px 10px 10px 10px;
    background: #fff;
    padding: 30px;
    width: 90%;
    max-width: 450px;
    position: relative;
    padding: 0px;
    -webkit-box-shadow: 0 30px 60px 0 rgba(0, 0, 0, 0.3);
    box-shadow: 0 30px 60px 0 rgba(0, 0, 0, 0.3);
    text-align: center;
}

#formFooter {
    background-color: #f6f6f6;
    border-top: 1px solid #dce8f1;
    padding: 25px;
    text-align: center;
    -webkit-border-radius: 0 0 10px 10px;
    border-radius: 0 0 10px 10px;
}

/* TABS */

h2.inactive {
    color: #cccccc;
}

h2.active {
    color: #0d0d0d;
    border-bottom: 2px solid #5fbae9;
}

/* FORM TYPOGRAPHY*/

input[type=button], input[type=submit], input[type=reset] {
    background-color: #56baed;
    border: none;
    color: white;
    padding: 15px 80px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    text-transform: uppercase;
    font-size: 13px;
    -webkit-box-shadow: 0 10px 30px 0 rgba(95, 186, 233, 0.4);
    box-shadow: 0 10px 30px 0 rgba(95, 186, 233, 0.4);
    -webkit-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
    margin: 5px 20px 40px 20px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

input[type=button]:hover, input[type=submit]:hover, input[type=reset]:hover {
    background-color: #39ace7;
}

input[type=button]:active, input[type=submit]:active, input[type=reset]:active {
    -moz-transform: scale(0.95);
    -webkit-transform: scale(0.95);
    -o-transform: scale(0.95);
    -ms-transform: scale(0.95);
    transform: scale(0.95);
}

input[type=date] {
    background-color: #f6f6f6;
    border: none;
    color: #757575;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 5px;
    width: 70%;
    border: 2px solid #f6f6f6;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    -webkit-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
}

input[type=text], input[type=password], input[type=email], input[type=tel], textarea, select {
    background-color: #f6f6f6;
    border: none;
    color: #0d0d0d;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 5px;
    width: 70%;
    border: 2px solid #f6f6f6;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    -webkit-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
}

input[type=text]:focus, input[type=password]:focus, input[type=email]:focus, input[type=tel]:focus, input[type=date]:focus, textarea:focus {
    background-color: #fff;
    border-bottom: 2px solid #0b415c;
}

input[type=text]:placeholder, input[type=password]:placeholder, input[type=email]:placeholder, input[type=tel]:placeholder, input[type=date]:placeholder, textarea:placeholder {
    color: #cccccc;
}

/* ANIMATIONS */

/* Simple CSS3 Fade-in-down Animation */

.fadeInDown {
    -webkit-animation-name: fadeInDown;
    animation-name: fadeInDown;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@-webkit-keyframes fadeInDown {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
    }
    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

@keyframes fadeInDown {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
    }
    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

/* Simple CSS3 Fade-in Animation */

@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@-moz-keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.fadeIn {
    opacity: 0;
    -webkit-animation: fadeIn ease-in 1;
    -moz-animation: fadeIn ease-in 1;
    animation: fadeIn ease-in 1;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-duration: 1s;
    -moz-animation-duration: 1s;
    animation-duration: 1s;
}

.fadeIn.first {
    -webkit-animation-delay: 0.4s;
    -moz-animation-delay: 0.4s;
    animation-delay: 0.4s;
}

.fadeIn.second {
    -webkit-animation-delay: 0.6s;
    -moz-animation-delay: 0.6s;
    animation-delay: 0.6s;
}

.fadeIn.third {
    -webkit-animation-delay: 0.8s;
    -moz-animation-delay: 0.8s;
    animation-delay: 0.8s;
}

.fadeIn.fourth {
    -webkit-animation-delay: 1s;
    -moz-animation-delay: 1s;
    animation-delay: 1s;
}

/* Simple CSS3 Fade-in Animation */

.underlineHover:after {
    display: block;
    left: 0;
    bottom: -10px;
    width: 0;
    height: 2px;
    background-color: #56baed;
    content: "";
    transition: width 0.2s;
}

.underlineHover:hover {
    color: #0d0d0d;
}

.underlineHover:hover:after {
    width: 100%;
}

/* OTHERS */

*:focus {
    outline: none;
}

/* Tabela */

.content {
    display: flex;
    margin: auto;
}

.rTable caption {
    font-size: 2.5rem;
    padding: 10px 0;
    font-weight: bolder;
}

.rTable {
    width: 100%;
    text-align: center;
}

.rTable thead {
    background: #225E57;
    font-weight: bold;
    color: #fff;
}

.rTable tbody tr:nth-child(2n) {
    background: #47C4B6;
}

.rTable th, .rTable td {
    padding: 7px 0;
}

.rTable thead tr:hover {
    background-color: transparent !important;
}

.rTable tbody tr:hover {
    background-color: #82C4BD !important;
}

@media screen and (max-width: 480px) {
    .content {
        width: 94%;
    }
    .rTable thead {
        display: none;
    }
    .rTable tbody td {
        display: flex;
        flex-direction: column;
    }
}

/* @media only screen and (min-width: 1200px) {
    .content{
        width:100%;
    }

    .rTable tbody tr td:nth-child(1) {
        width:10%;
    }

    .rTable tbody tr td:nth-child(2) {
        width:30%;
    }

    .rTable tbody tr td:nth-child(3) {
        width:20%;
    }

    .rTable tbody tr td:nth-child(4) {
        width:10%;
    }

    .rTable tbody tr td:nth-child(5) {
        width:30%;
    }

} */

.button {
    display: inline-block;
    padding: 10px 20px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #2C7970;
    border: none;
    border-radius: 15px;
    text-transform: uppercase;
    /* box-shadow: 0 9px #999; */
}

.button:hover {
    background-color: #11564e
}

.button:active {
    background-color: #032e29;
    /* box-shadow: 0 5px #666; */
    transform: translateY(4px);
}

li.container-button-group {
    display: flex;
    justify-content: flex-end;
}

.button-group {
    margin-bottom: 1rem;
    font-size: 0;
    padding: 1rem 0;
}

.button-group .button {
    margin: 0;
    margin-bottom: 1px;
    margin-right: 12px;
}

.button-group .button:last-child {
    margin: 0;
    margin-bottom: 1px;
    margin-right: 0;
}

.button.button__outline {
    background-color: transparent;
    color: #333;
    border: 1px solid #333;
}

/* .button.button__outline.button.button__outline--primary {
    border-color: #17aa17;
    color: #17aa17;
} */

/* .button.button__outline.button.button__outline--warn {
    border-color: #b61b1b;
    color: #b61b1b;
} */

.button.button__outline:hover, .button.button__outline.button.button__outline--primary:hover, .button.button__outline.button.button__outline--warn:hover {
    background-color: #333;
    border-color: #333;
    color: #fff;
}

.button.button__outline:focus, .button.button__outline.button.button__outline--primary:focus, .button.button__outline.button.button__outline--warn:focus {
    background-color: #f60;
    border-color: #f60;
    color: #fff;
}

.button.button__outline:active, .button.button__outline.button.button__outline--primary:active, .button.button__outline.button.button__outline--warn:active {
    background-color: #dd5800;
    border-color: #dd5800;
    color: #fff;
}

/* FORMULÁRIO */

.container {
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
}

.container * {
    box-sizing: border-box;
}

.flex-outer, .flex-inner {
    list-style-type: none;
    padding: 0;
}

.flex-outer {
    max-width: 800px;
    margin: 0 auto;
}

.flex-outer li, .flex-inner {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.flex-inner {
    padding: 0 8px;
    justify-content: space-between;
}

.flex-outer>li:not(:last-child) {
    margin-bottom: 20px;
}

.flex-outer li label, .flex-outer li p {
    padding: 8px;
    font-weight: 300;
    letter-spacing: .09em;
    text-transform: uppercase;
    font-size: 16px;
}

.flex-outer>li>label, .flex-outer li p {
    flex: 1 0 120px;
    max-width: 220px;
    font-weight: 400;
}

.flex-outer>li>label+*, .flex-inner {
    flex: 1 0 220px;
}

.flex-outer li p {
    margin: 0;
}

/* .flex-outer li input:not([type='checkbox']),
  .flex-outer li textarea {
    padding: 15px;
    border: none;
  } */

.flex-outer li button {
    margin-left: auto;
    padding: 8px 16px;
    border: none;
    background: #333;
    color: #f2f2f2;
    text-transform: uppercase;
    letter-spacing: .09em;
    border-radius: 2px;
}

.flex-outer li .button-group button {
    margin-left: auto;
    padding: 8px 16px;
    border: none;
    background: #333;
    color: #f2f2f2;
    text-transform: uppercase;
    letter-spacing: .09em;
    border-radius: 5px;
}

.flex-inner li {
    width: 100px;
}

/*##################################*/

.radio-custom {
    display: block;
    position: relative;
    padding-left: 25px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.radio-custom input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.checkmark {
    position: absolute;
    top: 0.4rem;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 50%;
}

.radio-custom:hover input~.checkmark {
    background-color: #ccc;
}


.radio-custom input:checked~.checkmark {
    background-color: #2c7977;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.radio-custom input:checked~.checkmark:after {
    display: block;
}

.radio-custom .checkmark:after {
    top: 9px;
    left: 9px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: white;
}

.radio-custom .radio-label {
    margin-left: 1.5rem;
}