<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../assets/css/cad_cliente.css" media="">
    <link rel="stylesheet" type="text/css" href="../assets/css/main.css" media="">
    <title>Bem Vindo a SGR</title>
</head>
<body>
    <div class="wrapper">
        <div class="side-header"></div>
        <header>
            <img src="img/logo.png" />
        </header>
        <div class="side-header"></div>
        <div class="logo"></div>
        <menu>
            <ul class="menu">
                <!-- Esse é o 1 nivel ou o nivel principal -->
                <li onclick="location.href='../../PI-cobranca/views/form_cliente.html'"><a href="#">Novo Cliente</a></li>
                <li onclick="location.href='../../PI-cobranca/views/pag_inicial.html'"><a href="#">Voltar</a></li>
                <li onclick="location.href='../../PI-cobranca/views/index.html'"><a href="#">Sair</a></li>
            </ul>
        </menu>
        <main>

            <div class="content">
                <table class="rTable">
                    <caption>Tabela de Clientes</caption>
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>CNPJ/CPF</th>
                            <th>Nome</th>
                            <th>Status</th>
                            <th>Editar</th>
                        </tr>
                    </thead>
            
                    <tbody>
                        <tr>
                            <td>101</td>
                            <td>12345678900</td>
                            <td>Pedro Silva Me</td>
                            <td>ATIVO</td>
                            <td><button class="button" >Editar</button></td>
                        </tr>
            
                        <tr>
                            <td>222</td>
                            <td>55566677788</td>
                            <td>Luis Camargo</td>
                            <td>ATIVO</td>
                            <td><button class="button" >Editar</button></td>
                        </tr>

                        <tr>
                            <td>500</td>
                            <td>43456722289</td>
                            <td>Fatec Ltda</td>
                            <td>INATIVO</td>
                            <td><button class="button" >Editar</button></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </main>
        <footer></footer>
    </div>
</body>
</html>