<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" type="text/css" href="../assets/css/pag_inicial.css" media="">
    <link rel="stylesheet" type="text/css" href="../assets/css/main.css" media=""> -->
    <title>Bem Vindo a SGR</title>
</head>
<body>
    <div class="wrapper">
        <header>
            <img src="img/logo.png" />
        </header>
        <div class="logo"></div>
        <menu>
            <ul class="menu">
                <!-- Esse é o 1 nivel ou o nivel principal -->
                <li><a href="#">Executar</a>
                    <ul class="submenu-1">
                        <li><a href="#">Gerar Arquivo</a></li>
                        <li><a href="#">Exportar Arquivo</a></li>
                        <li><a href="#">Importar Arquivo</a></li>
                        <li><a href="#">Consulta Arquivo</a></li>
                    </ul>
                </li>
                <li><a href="#">Consulta</a>
                    <ul class="submenu-1">
                        <!-- Esse é o 2 nivel ou o primeiro Drop Down -->
                        <li><a href="#">Relatórios de Títulos</a>
                            <ul class="submenu-2">
                                <!-- Esse é o 3 nivel ou o Segundo Drop Down -->
                                <li><a href="#">Títulos em Aberto</a>
                                    <ul class="submenu-3">
                                        <!-- Esse é o 4 nivel ou o Terceiro Drop Down -->
                                        <li><a href="#">Pesquisa Por Cliente</a></li>
                                        <li><a href="#">Pesquisa Por Período</a></li>
                                        <li><a href="#">Pesquisa Por XXX</a></li>
                                    </ul>
                                </li>
                                <li><a href="#">Títulos Liquidados</a>
                                    <ul class="submenu-3">
                                        <!-- Esse é o 4 nivel ou o Terceiro Drop Down -->
                                        <li><a href="#">Pesquisa Por Cliente</a></li>
                                        <li><a href="#">Pesquisa Por Período</a></li>
                                        <li><a href="#">Pesquisa Por XXX</a></li>
                                    </ul>
                                </li>
                                <li><a href="#">Títulos Vencidos</a>
                                    <ul class="submenu-3">
                                        <!-- Esse é o 4 nivel ou o Terceiro Drop Down -->
                                        <li><a href="#">Pesquisa Por Cliente</a></li>
                                        <li><a href="#">Pesquisa Por Período</a></li>
                                        <li><a href="#">Pesquisa Por XXX</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li><a href="#">Conferência de Títulos</a>
                    <ul class="submenu-1">
                        <li><a href="#">Títulos em Aberto</a></li>
                        <li><a href="#">Títulos Liquidados</a></li>
                        <li><a href="#">Títulos Vencidos</a></li>
                    </ul>
                </li>
                <li><a href="#">Cadastro</a>
                    <ul class="submenu-1">
                        <li onclick="location.href='pgCadUser'"><a href="#">Usuários</a></li>
                        <li onclick="location.href='pgCadCliente'"><a href="#">Clientes</a></li>
                        <li onclick="location.href='pgBanco'"><a href="#">Bancos</a></li>
                        <li onclick="location.href='../../PI-cobranca/views/cad_transacao.html'"><a href="#">Transações</a></li>
                    </ul>
                </li>
            </ul>
        </menu>
        <main>
        </main>
        <footer></footer>
    </div>

    <!--Dashboard -->
    <!-- <div> 
        <iframe width="1600" height="1060" src="https://app.powerbi.com/reportEmbed?reportId=813ff280-0121-484d-ac2f-92dafb4e9bed&autoAuth=true&ctid=cf72e2bd-7a2b-4783-bdeb-39d57b07f76f&config=eyJjbHVzdGVyVXJsIjoiaHR0cHM6Ly93YWJpLXNvdXRoLWNlbnRyYWwtdXMtcmVkaXJlY3QuYW5hbHlzaXMud2luZG93cy5uZXQvIn0%3D" frameborder="0" allowFullScreen="true"></iframe>
    </div> -->
</body>
</html>