<div class="form-wrapper fadeInDown">
    <div id="formContent">
      <!-- Título -->
      <h1 class="active"> Seja Bem-Vindo </h1>
      
      <!-- Sub Titulo -->
      <h2 class="active"> Faça seu Login </h2>
  
      <!-- Login Form -->
      <!-- <form id="login" action="pag_inicial.html"> -->
      <form id="login">
        <input type="text" id="username" class="fadeIn second" name="username" placeholder="usuário">
        <input type="password" id="password" class="fadeIn third" name="password" placeholder="senha">
        <input type="submit" class="fadeIn fourth" value="entrar">
      </form>
  
      <!-- Recuperar senha -->
      <div id="formFooter">
        <a class="underlineHover" href="../rec_senha/rec_senha_email.html">Esqueceu sua senha?</a>
      </div>
    </div>
  </div>