<table class="styled-table">
    <thead >
        <tr>
            <th>ID</th>
            <th>DT REG</th>
            <th>EMISSAO</th>
            <th>VENCIMENTO</th>
            <th>NOTA</th>
            <th>VALOR</th>
            <th>BANCO</th>
            <th>CLIENTE</th>
            <th>LIQUIDADO</th>
            <th>LIQUIDADO EM</th>
        </tr>
    </thead>
    <tbody id="transacoes-em-aberto">
        <tr>
            <td>1</td>
            <td>12/11/2021 18:00</td>
            <td>12/11/2021</td>
            <td>26/11/2021</td>
            <td>25896</td>
            <td>147,25</td>
            <td>Banco Teste</td>
            <td>Cliente Teste</td>
            <td>false</td>
            <td></td>
        </tr>
        <tr class="active-row">
            <td>1</td>
            <td>12/11/2021 18:00</td>
            <td>12/11/2021</td>
            <td>26/11/2021</td>
            <td>25896</td>
            <td>147,25</td>
            <td>Banco Teste</td>
            <td>Cliente Teste</td>
            <td>false</td>
            <td></td>
        </tr>
        <tr>
            <td>1</td>
            <td>12/11/2021 18:00</td>
            <td>12/11/2021</td>
            <td>26/11/2021</td>
            <td>25896</td>
            <td>147,25</td>
            <td>Banco Teste</td>
            <td>Cliente Teste</td>
            <td>false</td>
            <td></td>
        </tr>
    </tbody>
</table>